@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;   
}

body, button, input {
    font-family: "Source Sans 3", sans-serif;    
}

:root {
    --white: #ffffff;
    --yellow: #ffe83d;
    --text-header: #111111;
    --text-subheader: #333333;
    --text-paragraph: #555555;
    --text-accent: #666666;
    --gray-box: rgba(153, 153, 153, 0.2);
    --contact-input-background: #f0f0f0;
    --gray-background: #fafafa;
    --black: #000000;
}

h1 {
    font-size: 2.5rem;
    color: var(--text-header);
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-bottom: 2rem;
    position: relative;
}

#h1-hero {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#h1-hero:hover {
    scale: 1.05;
    transform: translateY(-2px);
}

.animate-h1 {
    scale: 1.05;
    transform: translateY(-2px);
}

.animate-img {
    opacity: 1!important;
}


h2 {
    font-size: 2.25rem;
    color: var(--text-header);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 2px;
    margin: 2rem 0 2rem 0;
}

h3 {
    font-size: 1.375rem;
    color: var(--text-subheader);
    letter-spacing: .4px;
    line-height: 1.8;
    font-weight: 800;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.125rem;
    color: var(--text-subheader);
    letter-spacing: .4px;
    line-height: 1.8;
    font-weight: 400;
}

p {
    font-size: 1rem;
    color: var(--text-paragraph);
    letter-spacing: .8px;
    line-height: 1.8;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    visibility: hidden;    
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

/* TITLE DIV */

.title-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

/* AFTER TITLES */

.title-after {
    position: relative;
    margin-bottom: 3rem;
}
.title-after::after {
    position: absolute;
    top: calc(100% + 1rem);
    content: '';
    height: 5px;
    width: 2rem;
    background: var(--yellow);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

/* BUTTONS */
button {
    text-transform: uppercase;
    background-color: var(--yellow);
    padding: 1rem 5rem;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: .4px;
    color: var(--text-header);
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 12px 4px #0000004D;
    margin: 3rem 0 1rem;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.button-small {
    font-size: 16px;
    padding: 1rem 4rem;
    margin: 3rem 0 0;
}

button:hover {
    transform: translateY(-4px);
    scale: 1.04;
    box-shadow: 0 6px 12px 2px #00000033;
}

.project-summary-btns {
    display: flex;
    flex-direction: column;
}

.project-link, .project-back-btn {
    margin: 0 0 2rem;
    width: 15rem;
}

.project-back-btn {
    background-color: var(--gray-background);
}





.hero-section:has(h1:hover) .manny-img {
    opacity: 1;
}



/* NAVIGATION BAR */

.navigation-container {
    margin: 5rem 1rem;
}

navigation {
    padding: 1rem 1rem 1rem;
    position: fixed;
    top: 0rem;
    right: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all .35s ease-in-out;
}

.navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

navigation img {
    width: 150px;
}

.navigation-content ul {
    display: none;
    gap: 4vw;
    list-style: none;
    margin-top: 8px;
}

navigation a {
    color: var(--text-paragraph);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .8px;
    line-height: 1.8;
}

.logo {
    transition: all ease-in-out .1s;
}

.logo:hover {
    transform: translateY(-4px);
}

navigation li {
    transition: all ease-in-out .1s;
}

navigation li:hover {
    border-bottom: solid 2px var(--yellow);
    transform: translateY(-4px);
}

.logo-text {
    font-weight: 700;
    color: var(--text-paragraph);
    letter-spacing: 1.5px;
    font-size: 18px;
}


/* MOBILE BURGER BARS */
.burger-menu {
    background-color: var(--black);
    border-radius: 40px;
    width: 2.75rem;
    height: 2.75rem;
    overflow: hidden;
    cursor: pointer;
    transition: all .35s ease-in-out;
}

.burger-container {
    position: relative;
    float: right;
    display: inline-block;
    height: 44px;
    width: 44px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
  }

  .burger-container #burger .bar {
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    background: #FFF;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
  }

  .burger-container #burger .bar.topBar {
    transform: translateY(0px) rotate(0deg);
  }

  .burger-container #burger .bar.btmBar {
    transform: translateY(6px) rotate(0deg);
  }

  .menu-open .burger-container {
    transform: rotate(90deg);
  }

  .menu-open .burger-container #burger .bar {
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.2s;
  }

  .menu-open .burger-container #burger .bar.topBar {
    transform: translateY(4px) rotate(45deg);
  }

  .menu-open .burger-container #burger .bar.btmBar {
    transform: translateY(3px) rotate(-45deg);
  }

/* MOBILE DROPDOWN MENU */
.menu-open .burger-menu {
    width: 86vw;
    height: 500px;
    background-color: #000000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    overflow: scroll;
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
    grid-column-gap: .75rem;
    min-width: fit-content;
    align-self: start;
    padding-top: 8px;
    transition: all .2s ease-in-out;
}

.menu-open .logo {
    margin-left: -13.6rem;
    margin-right: 2rem;
}

.logo img {
    width: 24px;
}

.mobile-menu {
    text-align: center;
    padding: 0 1.5rem;
    margin-top: 2rem;
}

.mobile-menu ul {
    list-style: none;
}

.mobile-menu-item {
    border-bottom: 1px solid #FEF9F64D;
    padding: 1.5rem;
    font-size: 20px;
    color: var(--white);
}

@media only screen and (min-width: 601px) and (min-height: 400px) {
    .mobile-menu-item {
        font-size: 24px;
    }

}

@media only screen and (min-width: 401px) {
    .mobile-menu {
        padding: 0 3rem;
    }
}


/* HERO SECTION */
.hero-section {
    height: calc(100vh - 5rem);
    min-height: 36.5rem;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../images/common-bg.svg);
    position: relative;
}

.hero-content {
    text-align: center;
    width: 92%;
    max-width: 45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 1;
}

.mouse-section {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: scroll 1.3s infinite;
}

@keyframes scroll {
    100% {
        opacity: 0%;
        top: 27px;
    }
}

.manny-img {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.3), rgba(245, 245, 245, 0.3)), url(../images/manny-img.webp);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease-in-out .45s;
}

.hero-section, .about-section, .projects-section, .contact-section, footer, .project-summary-section {
    min-width: 320px;
}


/* ABOUT SECTION */
.about-section {
    background-color: var(--gray-background);
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 4rem;
    grid-row-gap: 4rem;
    max-width: 78rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skills-list li {
    padding: .75rem 1.5rem;
    list-style: none;
    background-color: var(--gray-box);
    border-radius: 8px;
    margin: 0 .8rem .8rem 0;
    font-weight: 600;
    color: var(--text-accent);
    font-size: .925rem;
}

.scale-animation {
    animation: scale .7s;
}


@keyframes scale {
    
    50% {
      scale: 1.05;
      background-color: var(--yellow);
      transform: translateY(-2px);
    }
    100% {
      scale: 1;
      background-color: var(--gray-box);
    }
}



/* PROJECTS SECTION */
.projects-section {
    display: flex;
    justify-content: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 1rem;
    grid-row-gap: 4rem;
    max-width: 78rem;
}

.projects-list {
    display: flex;
    flex-direction: column;
}

.project-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    padding-bottom: 5rem;
}

.project-item video {
    width: calc(100vw - 3rem);
    justify-self: center;
}
.project-item img {
    width: calc(100vw - 3rem);
    justify-self: center;
}

.project-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* CONTACT SECTION */

.contact-section {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 4rem;
    grid-row-gap: 4rem;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../images/common-bg.svg);
}

.form-container {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 2rem;
    background-color: var(--white);
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 8px;
    max-width: 46rem;
    margin: 0 auto;
    box-shadow: 0 0 16px 2px #99999933;
}

.form-item {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
    color: var(--text-paragraph);
    letter-spacing: .8px;
    line-height: 1.8;
    font-weight: 700;
    font-size: .9375rem;
}

.form-item input {
    height: 56px;
    border-radius: 8px;
    border: none;
    padding: .75rem 1.4rem;
    font-size: 1rem;
    letter-spacing: .8px;
    line-height: 1.8;
    color: var(--text-subheader);
    background-color: var(--contact-input-background);
}

.form-item input:focus {
    border: solid var(--yellow) 2px;
    outline: none;
}

.form-item textarea {
    height: 10rem;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-family: "Source Sans 3", sans-serif;    
    letter-spacing: .8px;
    line-height: 1.8;
    padding: 1rem 1.4rem;
    color: var(--text-subheader);
    background-color: var(--contact-input-background);
}

.form-item textarea:focus {
    border: solid var(--yellow) 2px;
    outline: none;
}

.form-message {
    margin-top: 1rem;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 36px;
    margin-bottom: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--yellow);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid var(--black);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* PROJECT 1 */
.project-summary-section {
    background-color: var(--gray-background);
    display: flex;
    justify-content: center;
}

.project-summary-container {
    max-width: 78rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem 3rem;
}

.project-summary-video {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.videos-container {
    display: flex;
    overflow: hidden;
    width: 92vw;
    max-width: 60rem;
}

.project-media-item{
    transition: all ease-in-out .35s;
}

.project-summary-video video {
    max-width: 60rem;
    width: 92vw;
    transition: all ease-in-out .35s;
}

.project-summary-video img {
    max-width: 60rem;
    width: 92vw;
    transition: all ease-in-out .35s;
}

.placeholder-img {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 60rem;
    width: 92vw;
    animation: pulse 2.3s infinite;
}
  
@keyframes pulse {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
}


.placeholder-img img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.placeholder-img video {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.placeholder-img.loaded {
    animation: none;
    background-image: none !important;
}
  
.placeholder-img.loaded img {
    opacity: 1;
}

.placeholder-img.loaded video {
    opacity: 1;
}

.video-nav {
    display: flex;
    justify-content: center;
    align-items: start;
    grid-column-gap: 4.5rem;
    z-index: 1;
    overflow: hidden;
    height: 64px;
    padding: 12px;
}

.video-nav-btn {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 1px 4px 1px #00000033;
    transition: all ease-in-out .2s;
}

.video-nav-btn:hover {
    transform: translateY(-4px);
    scale: 1.2;
    box-shadow: 0 3px 5px 0px #0000001F;
    cursor: pointer;
}

.video-nav-btn:active {
    transform: translateY(2px);
    scale: 1;
    box-shadow: none;
    cursor: pointer;
}

.nav-disabled {
    background-color: #EBEBE4;
    box-shadow: none;
}

.nav-disabled rect {
    fill: #707070;
}

.nav-disabled:hover {
    transform: none;
    scale: none;
    box-shadow: none;
    cursor: unset;
}

.video-titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 1rem;
}

.video-title {
    color: var(--text-subheader);
    border-bottom: solid 3px var(--yellow);
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-in-out .2s;
}

p.video-title {
    transition: all ease-in-out .3s;
}

.video-title span {
    display: none;
}

.project-summary-copy {
    max-width: 47rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 3rem;
}


/* FOOTER */
footer {
    padding: 1rem 1rem 2rem;
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    max-width: 78rem;
}


.h3-footer {
    margin: 2rem 0 .75rem;
    color: var(--white);
}

.social-icons li {
display: inline-block;
margin: 0.15em;
position: relative;
font-size: 1.4em;
}

.social-icons i {
color: var(--text-header);
position: absolute;
top: 12px;
left: 15px;
transition: all 265ms ease-out;

}

.social-icons a {
display: inline-block;
}

.social-icons a:before {
transform: scale(1);
-ms-transform: scale(1);
-webkit-transform: scale(1);
content: " ";
width: 48px;
height: 48px;
border-radius: 100%;
display: block;
background: var(--yellow);
transition: all 265ms ease-out;
}

.social-icons a:hover:before {
transform: scale(0);
transition: all 265ms ease-in;
}

.social-icons a:hover i {
transform: scale(2.2);
-ms-transform: scale(2.2);
-webkit-transform: scale(2.2);
color: var(--black);
background: var(--yellow);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: all 265ms ease-in;
}

hr {
    margin: 3rem 0 2rem;
    border-color: #ffffff33;
}

.p-footer {
    font-size: .8rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
}


@media only screen and (min-width: 408px) {
    .video-title span {
        display: unset;
    }

    .video-nav {
        grid-column-gap: 1rem;
    }
}

@media only screen and (min-width: 461px) {
    .video-nav {
        grid-column-gap: 3rem;
    }
}

@media only screen and (max-width: 601px) {
    .hero-content {
        max-width: 30rem;
    }
    
    .mouse-section {
        display: none;
    }

}

  @media only screen and (min-width: 601px) {
    .circle {
        visibility: visible;
    }

    .hide-601 {
        display: none;
    }

    .show-601 {
        display: flex !important;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    
    p {
        font-size: 1.125rem;
        max-width: 47rem;
    }

    .skills-list li {
        font-size: 1rem;
        padding: 1rem 2rem;
        margin: 0 1rem 1rem 0;
        
    }

    .form-item {
        font-size: 1rem;
    }

    .about-section, .projects-section, .contact-section, footer, .project-summary-section {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .form-container button {
        margin-left: auto;
        padding: 1rem 5rem;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        grid-column-gap: 2.5rem;
    }

    .footer-social {
        grid-column: 2 / 3;
        grid-row: 1;
        margin-left: auto;
    }

    .footer-about {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .project-summary-btns {
        flex-direction: row;
        grid-column-gap: 4rem;
    }

}

@media only screen and (min-width: 901px) {
    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5rem;
        padding-bottom: 6rem;
    }

    .about-container .title-div {
        grid-column: 1 / 3;
    }

    .project-item {
        grid-template-columns: 1.5fr 1fr;
        grid-column-gap: 3rem;
    }

    .project-item video {
        width: 100%;
        align-self: center;
    }
    .project-item img {
        width: 100%;
        align-self: center;
    }

    .project-item-content {
        align-items: start;
        text-align: left;
        align-self: center;
    }
}












.home-placeholder-img {
    background-repeat: no-repeat;
    background-size: cover;
    animation: pulse 2.3s infinite;
}
  
@keyframes pulse {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
}


.home-placeholder-img img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.home-placeholder-img video {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.home-placeholder-img.loaded {
    animation: none;
    background-image: none !important;
}
  
.home-placeholder-img.loaded img {
    opacity: 1;
}

.home-placeholder-img.loaded video {
    opacity: 1;
}